# Server Environment Variables (server/.env)
# Copy this section to server/.env and fill in your actual values

# Debug mode
SERVER_DEBUG=1

# API Port
PORT=8000

# App domain name
APP_DOMAIN_NAME=localhost

# CORS origin
CORS_ORIGIN=http://${APP_DOMAIN_NAME}

# App name
APP_NAME="AbstractGo"

# Organization name
ORG_NAME="Melo-Dramatic Data Team"

# ML models configuracion
USE_LOCAL_MODEL=0
# EXTERNAL_MODEL_PATH=/path/to/external/model
# LOCAL_MODEL_PATH=/code/saved_models
# LOCAL_MODEL_TOKENIZER_PATH=/code/saved_models

# Hugging face configuration
HF_TOKEN=huggingface_token
